*{
    margin: 0;
    padding: 0;
}
body{
    background-color: indigo;
    width: 50%;
    margin: auto;
    
}
main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
    margin-top: 150px;
}
main div{
    
    border: 1px solid;
    padding: 50px;
}
/* .lastcont div{
    margin: 0;
    width: 100%;
} */
.A{
    background-color: #be5020;
    grid-area: a;
}
.B{
    background-color: #ffa401;
    grid-area: b;
}
.C{
    background-color: #05aa42;
    grid-area: c;
}
.D{
    background-color: #01aefd;
    grid-area: d;
}
.E{
    background-color: #01aefd;
    grid-area: e;
}
a{
    color: white;
    font-size: 200%;
}